// Config
@import '../config/palette';
@import '../config/fonts';

/**
 * Scaffolding / Global
 *
 * Global scaffolding declarations
 */
* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100vh;
    font-family: $fontstack-sans-primary;
    background: linear-gradient(219deg, rgba(0,98,255,1) 0%, rgba(0,138,255,1) 100%);
}

.hide {
    display: none !important;
}
