/**
 * App
 */

.app {
    position: relative;
    width: 100%;
    height: 90vh;
}

.app__content {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
    text-align: center;
}

.app__visualiser {
    display: block;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin: 0 auto 50px;
    background-color:transparent;
}

.app__control {
    display: block;
    margin: 25px auto;
    color: white;
    width: 100%;
    max-width: 200px;

    label {
        display: block;
        margin: 10px auto;
        text-transform: uppercase;
        font-weight: 500;
        font-size: rem(12px);
    }

}

.app__range {
    margin-top: 20px;
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
}

.app__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -4px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 0px 0px 8px 0px rgba(7,40,66,0.25);
}

.app__range:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

.app__range::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: #0158bd;
    border-radius: 15px;
}

.app__range-amount {
    display: block;
    margin-top: 15px;
    font-size: rem(30px);
    font-weight: 800;
    text-transform: uppercase;
}

.app__trigger {
    appearance: none;
    margin-top: 20px;
    padding: 12px 20px;
    background-color: white;
    color: black;
    max-width: 180px;
    width: 100%;
    font-weight: bolder;
    border-radius: 25px;
    color: #0156bd;
    box-shadow: 0px 0px 8px 0px rgba(7,40,66,0.25);
}
