/**
 * Header
 */

.header {
    display: flex;
    width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 20px;
}

.header__logo {
    display: block;
    width: 100px;
    height: auto;
    text-align: center;

    img {
        display: block;
        width: 100%;
        height: auto;
    }

    span {
        font-size: rem(14px);
    }

}

.header__menu {
    img {
        width: 75%;
        height: auto;
    }
}
