<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="initial-scale=1" />
        <title>{{ page_title }}</title>
        <link rel="stylesheet" href="/css/styles.css" />
        <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    </head>
    <body>

        <main class="page" data-page="container">
            {% block body %}{% endblock %}
        </main>

        <script type="module">
        import AudioMotionAnalyzer from 'https://cdn.skypack.dev/audiomotion-analyzer?min';
        window.AudioMotionAnalyzer = AudioMotionAnalyzer;
        </script>
        <script type="text/javascript" src="/js/entry.js"></script>
    </body>
</html>
