/**
 * Config / Fonts
 *
 * Font variables used throughout the site.
 *
 * Don't declare the variables using the font name (e.g. $font-arial)
 * but declare them by usage (e.g. $font-primary, $font-secondary)
 * or by type ($font-primary-sans, $font-primary-serif).
 */

/* Sans Serif */
$fontstack-sans-primary: 'Open Sans', 'Helvetica Neue', 'Arial';
$fontstack-sans-secondary: 'Arial';

/* Serif */
$fontstack-serif-primary: 'Playfair Display', Serif;
