/**
 * Config / Palette
 *
 * Colour variable declarations. By right, all colours used should be declared
 * as a variable in line with the style guide of the project.
 */

/* Brand Colours */
$color-brand-primary: #d11249;
$color-brand-secondary: #fff;
$color-brand-tertiary: #fff;

/* Default */
$color-black: #000;
$color-white: #fff;
$color-white-off: #e8e8e8;

/* Greyscale */
$color-grey-darkest: #161010;
$color-grey-dark: #222;
$color-grey: #888;
$color-grey-light: #aaa;
$color-grey-lightest: #ccc;
