{% extends '../layout.twig' %}

{# Page Variables #}
{% set page_title = 'Coral Effect' %}
{% set page_name = 'Coral Effect' %}

{# Page Content #}
{% block body %}

    <header class="header">
        <div></div>
        <a href="#" class="header__logo">
            <img src="img/logo.png" alt="Oral-B" />
            <span>Stutter Free</span>
        </a>
        <div class="header__menu">
            <img src="img/menu.png" alt="Menu" />
        </div>
    </header>

    <section class="app" data-app="container">

        <div class="app__content">
            <div class="app__visualiser" data-app="visualiser"></div>


            <div class="app__control app__control--delay" data-app="delay">
                <label for="delay">delay</label>
                <input type="range" class="app__range" id="delay" name="delay" min="0" max="100" step="10" value="30" data-app="input">
                <span class="app__range-amount" data-app="input-amount">0.3</span>
            </div>

            <div class="app__control app__control--volume" data-app="volume">
                <label for="volume">volume</label>
                <input type="range" class="app__range" id="volume" name="volume" min="0" max="100" step="1" value="100" data-app="input">
                <span class="app__range-amount" data-app="input-amount">100%</span>
            </div>

            <button class="app__trigger" data-app="trigger">Start</div>

        </div>
    </section>

{% endblock %}
